@import './../library';

.shows {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 40px;
}

@media (max-width: $breakpoint-tablet) {
  .shows {
    justify-content: space-around;
  }
}
